/* .hover-child-text-bold {
	opacity: 1 !important;

} */
.hover-child-text-bold:hover > .child {
	font-weight: 500;
	color: #ffffffb5;
	opacity: 1;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
}

.hover-child-text-bold > .child {
	font-weight: 500;
	color: #ffffffb5;
	opacity: 0;
	transform: translate3d(0,-10px,0);
	-webkit-transform: translate3d(0,-10px,0);
	-moz-transform: translate3d(0,-10px,0);
	-ms-transform: translate3d(0,-10px,0);
	-o-transform: translate3d(0,-10px,0);
}

.hover-child-o-1:hover > .hover-child {
	opacity: 1 !important;
}
.hover-child-o-1 > .hover-child {
	opacity: 0 !important;
}

.fadeInUp {
	-webkit-animation: fadeInUp 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

@-webkit-keyframes fadeInUp {
	0% {
	  -webkit-transform: translateY(50px);
	  transform: translateY(20px);
	  opacity: 0;
	  z-index: -1;
  }
	100% {
	  -webkit-transform: translate(0px);
	  transform: translate(0px);
	  opacity: 1;
	  z-index: 99;
	}
  }
  @keyframes fadeInUp {
	0% {
	  -webkit-transform: translateY(50px);
	  transform: translateY(20px);
	  opacity: 0;
	  z-index: -1;
  }
	100% {
	  -webkit-transform: translate(0px);
	  transform: translate(0px);
	  opacity: 1;
	  z-index: 99;
	}
  }

/* .rotate-360 {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
} */


.scale-up {
	transform: scale3d(1.09,1.09,1.09);
	-webkit-transform: scale3d(1.09,1.09,1.09);
	-moz-transform: scale3d(1.09,1.09,1.09);
	-ms-transform: scale3d(1.09,1.09,1.09);
	-o-transform: scale3d(1.09,1.09,1.09);
}

.scale-up-slide-left {
	transform: translate(-2vw,0,0);
	-webkit-transform:;
	-moz-transform:;
	-ms-transform:;
	-o-transform:;
}

.scale-initial {
	transform: scale3d(1,1,1);
	-webkit-transform: scale3d(1,1,1);
	-moz-transform: scale3d(1,1,1);
	-ms-transform: scale3d(1,1,1);
	-o-transform: scale3d(1,1,1);
}

.rotate-360:hover {
	transform: rotate(360deg);
	-webkit-transform:;
	-moz-transform:;
	-ms-transform:;
	-o-transform:;
}

.rotate-0 {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
}


.hover-slide-up {
	transform: translate3d(0vw, 0vh, 0vw);
	-webkit-transform: translate3d(0vw, 0vh, 0vw);
	-moz-transform: translate3d(0vw, 0vh, 0vw);
	-ms-transform: translate3d(0vw, 0vh, 0vw);
	-o-transform: translate3d(0vw, 0vh, 0vw);
}
.hover-slide-up:hover {
	transform: translate3d(0vw, -0.5vh, 0vw);
	-webkit-transform: translate3d(0vw, -0.5vh, 0vw);
	-moz-transform: translate3d(0vw, -0.5vh, 0vw);
	-ms-transform: translate3d(0vw, -0.5vh, 0vw);
	-o-transform: translate3d(0vw, -0.5vh, 0vw);
}

.trans-a {
	-webkit-transition: all 500ms cubic-bezier(0.195, 0.85, 0, 0.96);
	-moz-transition: all 500ms cubic-bezier(0.195, 0.85, 0, 0.96);
	-o-transition: all 500ms cubic-bezier(0.195, 0.85, 0, 0.96);
	transition: all 500ms cubic-bezier(0.195, 0.85, 0, 0.96);
	/*custom*/
	-webkit-transition-timing-function: cubic-bezier(0.195, 0.85, 0, 0.96);
	-moz-transition-timing-function: cubic-bezier(0.195, 0.85, 0, 0.96);
	-o-transition-timing-function: cubic-bezier(0.195, 0.85, 0, 0.96);
	transition-timing-function: cubic-bezier(0.195, 0.85, 0, 0.96);

	-ms-transition: all 500ms cubic-bezier(0.195, 0.85, 0, 0.96);
}
.trans-f {
	transition: all 200ms cubic-bezier(0.665, 0.49, 0.16, 0.985);
	-webkit-transition: all 200ms cubic-bezier(0.665, 0.49, 0.16, 0.985);
	-moz-transition: all 200ms cubic-bezier(0.665, 0.49, 0.16, 0.985);
	-ms-transition: all 200ms cubic-bezier(0.665, 0.49, 0.16, 0.985);
	-o-transition: all 200ms cubic-bezier(0.665, 0.49, 0.16, 0.985);
}

.trans-b {
	transition: all 300ms cubic-bezier(0.665, 0.49, 0.16, 0.985);
	-webkit-transition: all 300ms cubic-bezier(0.665, 0.49, 0.16, 0.985);
	-moz-transition: all 300ms cubic-bezier(0.665, 0.49, 0.16, 0.985);
	-ms-transition: all 300ms cubic-bezier(0.665, 0.49, 0.16, 0.985);
	-o-transition: all 300ms cubic-bezier(0.665, 0.49, 0.16, 0.985);
}

.trans-c {
	transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
	-webkit-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
	-moz-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
	-ms-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
	-o-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.easeInExpo {
	-webkit-transition: all 500ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
	-moz-transition: all 500ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
	-o-transition: all 500ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
	transition: all 500ms cubic-bezier(0.95, 0.05, 0.795, 0.035); /* easeInExpo */

	-webkit-transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
	-moz-transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
	-o-transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
	transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035); /* easeInExpo */
}

/* 0.3s */
.slide-top2 {
	-webkit-animation: slide-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}


.slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-up {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-5-30 8:6:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
	0% {
    -webkit-transform: translateY(10vh);
    transform: translateY(10vh);
    -moz-transform: translateY(10vh);
    -ms-transform: translateY(10vh);
    -o-transform: translateY(10vh);
    opacity: 0;
}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
}
}
@keyframes slide-top {
	0% {
    -webkit-transform: translateY(10vh);
    transform: translateY(10vh);
    opacity: 0;
    -moz-transform: translateY(10vh);
    -ms-transform: translateY(10vh);
    -o-transform: translateY(10vh);
}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
}
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22) both;
	animation: scale-up-center 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-5-30 10:41:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

.hover-child-slide-right .hover-child {
	opacity: 0;

}

.hover-child-slide-right .hover-child  * {
	color: white;
	fill: white;
}

.hover-child-slide-right:hover .hover-child {
	animation: nudge-right 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95) both alternate;
	-webkit-animation: nudge-right 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95) both alternate;
}

.slide-right {
	animation: slide-right 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
	-webkit-animation: slide-right 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
}

.slide-up {
	animation: slide-up 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
	-webkit-animation: slide-up 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-5-30 11:15:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
 @keyframes nudge-right {
	0% {
		opacity: 0;
		-webkit-transform: translateX(0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(1vw);
}
}
@-webkit-keyframes nudge-right {
	0% {
		opacity: 0;
		-webkit-transform: translateX(0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(1vw);
}
}
 @-webkit-keyframes slide-right {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	100% {
		-webkit-transform: translateX(100px);
		transform: translateX(100px);
	}
}
@keyframes slide-right {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	100% {
		-webkit-transform: translateX(100px);
		transform: translateX(100px);
	}
}

@-webkit-keyframes slide-up {
	0% {
		transform: tanslateY(-10vh);
		opacity: 0;
	}
	100% {
		transform: translateY(0vh);
		opacity: 1;
	}
}
@keyframes slide-up {
	0% {
		transform: tanslateY(-10vh);
		opacity: 0;
	}
	100% {
		transform: translateY(0vh);
		opacity: 1;
	}
}


.shadow-burst-purple {
	animation: box-shadow 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
	-webkit-animation: box-shadow 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
}
@-webkit-keyframes shadow-burst-purple {
	0% {
		box-shadow: 0vw 0vw 4vw 0vw #6b62fa52, 0vw 0vw 1vw 0vw #0000002b;
		/* opacity: 0; */
	}
	100% {
		box-shadow: 0vw 0vw 4vw 50vw #6b62fa52, 0vw 0vw 1vw 0vw #0000002b;

	}
}


@keyframes shadow-burst-purple {
	0% {
		box-shadow: 0vw 0vw 4vw 0vw #6b62fa52, 0vw 0vw 1vw 0vw #0000002b;
		/* opacity: 0; */
	}
	100% {
		box-shadow: 0vw 0vw 4vw 50vw #6b62fa52, 0vw 0vw 1vw 0vw #0000002b;

	}
}



.fadeOutDown {
	animation: fadeOutDown 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000)  alternate both;
	-webkit-animation: fadeOutDown 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000)  alternate both;
}
@keyframes fadeOutDown {
	0% {
    -webkit-transform:;
    transform: translateY(0vh);
    opacity: 1;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
}
	100% {
		-webkit-transform: translateY(3vh);
		
    opacity: 0;
}
}



.slide-bottom {
	-webkit-animation: slide-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}


@-webkit-keyframes slide-bottom {
	100% {
	-webkit-transform: translateY(1vh)

}
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
    -o-transform: translateY(0);
    /* opacity: 1; */
}
}
@keyframes slide-bottom {
	100% {
    -webkit-transform: translateY(1vh)
    /* opacity: 0; */
}
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
    -o-transform: translateY(0);
    /* opacity: 1; */
}
}



.fade-in-up {
	-webkit-animation: fade-in-up 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: fade-in-up 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.fade-out-down {
	-webkit-animation: fade-out-down 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.fade-out-up {
	-webkit-animation: fade-out-up 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: fade-out-up 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes fade-in-up {
	
		0% {
			-webkit-transform: translateY(5vh);
			opacity: 0;
			
	}
	100% {
		-webkit-transform: translateY(0vh);
		opacity: 1;
	}
}

@keyframes fade-out-down {
	
	0% {
		-webkit-transform: translateY(0vh);
		opacity: 1;
		
	}
	100% {
		-webkit-transform: translateY(5vh);
		opacity: 0;
	}
}


@keyframes fade-out-up {
	
	0% {
		-webkit-transform: translateY(0);
		opacity: 1;
		
}
100% {
    -webkit-transform: translateY(-5vh);
    opacity: 0;
}
}