.bs-a {
    box-shadow: 0vw 0vw 23vw 68vw #0000002b;
}
.bs-b {
    box-shadow: 0vw 0vw 10vw 0vw #0000002b;
}

.bs-c-hover:hover {
    
        box-shadow: 0vw 1vh 4vw -1vw #0000002b !important;
    
}

.bs-d {
    
    box-shadow: 0vw 1vh 4vw -1vw #0000002b !important;

}

.bs-e {
    box-shadow: 0px 0px 30px 0px #00000000, 0px 0px 8px 0px #00000021, -1px -1px 1px -2px #ffffff;
}

.bs-f{
    box-shadow: 0px 0px 30px 0px #00000000, 0px 0px 8px 0px #0000003d, -1px -1px 1px -2px #ffffff;
    -webkit-box-shadow: 0px 0px 30px 0px #00000000, 0px 0px 8px 0px #0000003d, -1px -1px 1px -2px #ffffff;
}
@media only screen and (min-width: 768px) {
    .bs-c-hover-ns:hover {
    
        box-shadow: 0vw 1vh 4vw -1vw #0000002b !important;
    
}
}


.bs-g { box-shadow: 0px 0px 20px 0px #0000001c; }
.bs-h { box-shadow: 5px 5px 35px -9px #0000000a, 0px 0px 20px 0px #0000001c; }